@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

body {
  background-color: #265a8f;
  margin: 7px 0;
}

.title {
  height: 75vh;
  width: 100%;
  background-color: #751b00;
  display: flex;
  overflow: auto;
}

.mainTitle {
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  text-align: center;
  position: relative;
  margin: 10px auto;
  font-size: 6vw;
}

.subtitle {
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  text-align: center;
  font-size: 3vw;
  position: absolute;
  margin: 300px 0;
}

#header {
  background-color: white;
  width: 100%;
  margin-top: -7px;
  margin-left: -9px;
  margin-right: -8px;
  padding: 15px 10px;
  padding-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  width: 110px;
  margin-top: 1px;
  margin-bottom: -19px;
  margin-left: 40px;
  margin-right: 330px;
}

.Sponsor {
  background-color: #265a8f;
  border: #265a8f;
  color: white;
  border-radius: 5%;
  padding: 15px 20px;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 12px;
}

.Attend {
  background-color: #ecc700;
  border: #ecc700;
  color: #676869;
  border-radius: 5%;
  padding: 15px 20px;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 12px;
}

button {
  color: #353535;
  background-color: white;
  border: white;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 13px;
  cursor: pointer;
  margin-left: 28px;
}

button.dropbtn {
  padding: 31px 0;
  padding-top: 0;
}

button.dropbtn2 {
  padding: 31px 0;
  padding-top: 0;
}

button.dropbtn3 {
  padding: 31px 0;
  padding-top: 0;
}

button.dropbtn4 {
  padding: 31px 0;
  padding-top: 0;
}

button.dropbtn5 {
  padding: 31px 0;
  padding-top: 0;
}

/*DROP DOWN CSS STARTS HERE*/

/*DROP DOWN 1*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*DROP DOWN 2*/

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show2 {
  display: block;
}

/*DROP DOWN 3*/

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show3 {
  display: block;
}

/*DROP DOWN 4*/

/* The container <div> - needed to position the dropdown content */
.dropdown4 {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content4 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show4 {
  display: block;
}

/*DROP DOWN 5*/

/* The container <div> - needed to position the dropdown content */
.dropdown5 {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content5 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show5 {
  display: block;
}

/*Road Map styling*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
.roadMap {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.conatiner {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #265a8f;
  padding: 40px 0;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #162f51;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c53c02;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-90px);
    border-radius: 20px 0 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(50px);
    border-radius: 0 20px 20px 20px;
  }
  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #751b00;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -80%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline ul li:hover::after {
    background-color: #ecc700;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
}
